@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Hello I am Andrew Chou, I am a senior at Ohio University with a major in MIS and a minor in CS.
    I enjoy playing video games and hanging out with my friends.
    </p>
