@{
    ViewBag.Title = "Contact me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Andrew Chou<br />
    Athens, OH Copeland 012<br />
    <abbr title="Phone">P:</abbr>
    614.707.3936
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ac686115@ohio.edu">ac686115@ohio.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>